@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import "tailwindcss";


html, body{
  font-family: "Montserrat", sans-serif;
 background-color:#F1F5F9;
}

@theme {
  --color-darkGreen: #042028;
}